<!-- event page view -->
{% extends "layout.html" %}

{% block title %}Admin Page{% endblock %}


{% block links %}
<link rel="stylesheet" href="../static/event.css">
<link rel="import" href="/static/bower_components/google-map/google-map.html">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
{% endblock %}

{% block body %}

<div class="container">
  <div class="page-header">
    <h1>Admin Panel</h1>
  </div>
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#events">Events</a></li>
    <li><a data-toggle="tab" href="#users">Users</a></li>
  </ul>
  <div class="tab-content">
    <div id="events" class="tab-pane fade in active">
      <div class="page-header">
        <h3>All Events</h3>
      </div>
      <table class="table table-striped">
        <tr>
          <th> UUID </th>
          <th> Title </th>
          <th> Creator </th>
          <th> # Attendees </th>
          <th> # Comments </th>
          <th> Is Expired </th>
          <th> Edit </th>
          <th> Remove </th>
        </tr>
        {% for event in events %}
          <tr>
            <td><a href="/event/{{event.id}}">{{event.id}}</a></td>
            <td>{{event.name}}</td>
            <td>{{event.creator.fullName()}}</td>
            <td>{{event.attending_ids|length}}</td>
            <td>{{event.comments|length}}</td>
            <td>
              {% if event.expired %}
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
              {% else %}
                &nbsp;
              {% endif %}
            </td>
            <td>
              <a href="/edit/{{event.id}}">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
              </a>
            </td>
            <td>
              <a href="/remove/event/{{event.id}}">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
              </a>
            </td>
          </tr>
        {% endfor %}
        <tr>
          <td>
            <a href="/remove/event/allExpired">
              <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"> Remove All Expired</span>
            </a>
          </td>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>

        </tr>
      </table>
    </div>
    <div id="users" class="tab-pane fade">
      <div class="page-header">
        <h3>All Users</h3>
      </div>
      <table class="table table-striped">
        <tr>
          <th> UUID </th>
          <th> Email </th>
          <th> First Name </th>
          <th> Last Name </th>
          <th> Is Admin </th>
          <th> Toggle Admin </th>
          <th> Reset Password </th>
          <th> Remove </th>
        </tr>
        {% for user in users %}
          <tr>
            <td>{{user.id}}</td>
            <td>{{user.email}}</td>
            <td>{{user.first_name}}</td>
            <td>{{user.last_name}}</td>
            <td>
              {% if user.admin %}
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
              {% else %}

              {% endif %}
            </td>
            <td>
              <a href="/toggleadmin/{{user.id}}">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
              </a>
            </td>
            <td>
              <a href="/adminreset/{{user.id}}">
                <span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
              </a>
            </td>
            <td>
              <a href="/remove/user/{{user.id}}">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
              </a>
            </td>

          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>

{% endblock %}
