{% extends "layout.html" %}

{% block title %}Create Event Page{% endblock %}

{% block links %}
<link rel="stylesheet" href="/static/bootstrap-datetimepicker.min.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
<script type="text/javascript" src="/static/bootstrap-datetimepicker.js"></script>

{% endblock %}

{% block body %}
<p></p>
<div class="container">
  <h1>Create New Event</h1>
  <form method="POST" action="/create" id="theform">
    <input type="hidden" name="lat" id="lat" class="form-control"/>
    <input type="hidden" name="lng" id="lng" class="form-control"/>
    <div class="row">
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-12">
            <label for="title">Title:</label>
            <input id ="title" name="title" type="text" class="form-control" placeholder="Title" aria-describedby="sizing-addon2">
            {% if form.title.errors %}
                <ul class="errors">{% for error in form.title.errors %}<li>{{ error }}</li>{% endfor %}</ul>
            {% endif %}
            </br>
          </div>
          <div class="col-md-12">
            <label for="address">Address:</label>
            <input id ="address" name="address" type="text" class="form-control" placeholder="(i.e. DCC 308)" aria-describedby="sizing-addon2">
            {% if form.address.errors %}
                <ul class="errors">{% for error in form.address.errors %}<li>{{ error }}</li>{% endfor %}</ul>
            {% endif %}
            </br>
          </div>
          <div class="col-md-12">
            <label for="street_address">Street Address:</label>
            <input id ="street_address" onFocus="geolocate()" name="street_address" type="text" class="form-control" placeholder="(ie. 97 14th Street)" aria-describedby="sizing-addon2">
            {% if form.street_address.errors %}
                <ul class="errors">{% for error in form.street_address.errors %}<li>{{ error }}</li>{% endfor %}</ul>
            {% endif %}
            </br>
          </div>
          <div class="col-md-12">
            <label for="tags">Tags:</label>
            <input id ="tags" name="tags" type="text" class="form-control" placeholder="Tags (Comma Seperated)" aria-describedby="sizing-addon2">
            {% if form.tags.errors %}
                <ul class="errors">{% for error in form.tags.errors %}<li>{{ error }}</li>{% endfor %}</ul>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <label for="description">Description:</label>
        <textarea id = "description" name="description" class="form-control" rows="8" placeholder="Description"></textarea>
        {% if form.description.errors %}
            <ul class="errors">{% for error in form.description.errors %}<li>{{ error }}</li>{% endfor %}</ul>
        {% endif %}
      </div>
    </div>
  </br>
    <div class="row">
      <div class="col-md-6">
        <label for="datetimepicker6">Start Date:</label>
        <div class='input-group date' id='datetimepicker6'>
          <input type='text' class="form-control" maxlength="200" id="start_datetime" name="start_datetime" />
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
        {% if form.start_datetime.errors %}
            <ul class="errors">{% for error in form.start_datetime.errors %}<li>{{ error }}</li>{% endfor %}</ul>
        {% endif %}
      </div>
      <div class="col-md-6">
        <label for="datetimepicker7">End Date:</label>
        <div class='input-group date' id='datetimepicker7'>
          <input type='text' class="form-control" maxlength="200" id = "end_datetime" name="end_datetime"/>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
        {% if form.end_datetime.errors %}
            <ul class="errors">{% for error in form.end_datetime.errors %}<li>{{ error }}</li>{% endfor %}</ul>
        {% endif %}
      </div>
    </div>
  </br>
    <div class="row">
      <div class="col-md-12">
        <button id="submit" class="btn btn-primary">Submit</button>
      </dv>
    </div>

    <script type="text/javascript">
    $(function () {
        $('#datetimepicker6').datetimepicker({
          //format: "ddd, DD MMM YYYY h:mm a ZZ",
          showTodayButton: true,
          sideBySide: true,
        });
        $('#datetimepicker7').datetimepicker({
            //format: "ddd, DD MMM YYYY h:mm a ZZ",
            useCurrent: false, //Important! See issue #1075
            showTodayButton: true,
            sideBySide: true,
            minDate: moment()
        });
        $("#datetimepicker6").on("dp.change", function (e) {
            $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
        });
        $("#datetimepicker7").on("dp.change", function (e) {
            $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
        });

        $("#submit").click(function() {
          start = $('#datetimepicker6').data("DateTimePicker").date().toDate().toUTCString();
          end = $('#datetimepicker7').data("DateTimePicker").date().toDate().toUTCString();
          $('#start_datetime').val(start);
          $('#end_datetime').val(end);
          $('#theform').submit();
        });
    });
    </script>
    <script type="text/javascript">
      {% for field in form.data%}
        {% if form.data[field]%}
          $("#{{field}}").val("{{form.data[field]}}")
        {% endif %}
      {% endfor %}
    </script>

    <script>
    var placeSearch, autocomplete;
    var input = document.getElementById('street_address');

    function initAutocomplete() {
      // Create the autocomplete object
      autocomplete = new google.maps.places.Autocomplete(input);
      autocomplete.addListener('place_changed', getCoordinates);
      google.maps.event.addDomListener(input, 'keydown', function(e) {
      if (e.keyCode == 13) {
          e.preventDefault();
        }
      });
    }

    function getCoordinates() {
      // Get the place details from the autocomplete object.
      var place = autocomplete.getPlace();
      document.getElementById('lat').value = (place.geometry.location.lat());
      document.getElementById('lng').value = (place.geometry.location.lng());
    }

    // Bias the autocomplete object to the user's geographical location,
    function geolocate() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position) {
          var geolocation = {
            lat: position.coords.latitude,
            lng: position.coords.longitude
          };
          var circle = new google.maps.Circle({
            center: geolocation,
            radius: position.coords.accuracy
          });
          autocomplete.setBounds(circle.getBounds());
        });
      }
    }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAzRBQ8AF5pps6IRNkImoB2UBC_cn3hNUo&signed_in=true&libraries=places&callback=initAutocomplete"
        async defer></script>
  </form>
</div>
{% endblock %}
