{% extends "layout.html" %}

{% block title %}Event Page{% endblock %}


{% block links %}
<link rel="stylesheet" href="../static/event.css">
<link rel="import" href="/static/bower_components/google-map/google-map.html">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
{% endblock %}

{% block body %}

<div class="container">
  <div class="jumbotron">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
            <h2>
              {{event.name}}
              </br>
              <small>{{event.address}} - <a href="#">{{event.creator.fullName()}}</a></small>
            </h2>
        </div>

        <div class="row">
            <p>
              {% if event.start_date == event.end_date %}
                {{event.start_date}}
              {% else %}
                {{event.start_date}} - {{event.end_date}}
              {% endif %}
              </br>
              {{event.start_time}} - {{event.end_time}}
            </p>
        </div>
        <div class="row">
            {% for tag in event.tags %}
            <span class="label label-primary">{{tag}}</span>
            {% endfor %}
        </div>
      </br>
      {% if session.logged_in %}
        <div class="row">
          {% if not session.attending%}
            <p>
              {% if session['uid'] == event.creator.id %}
                <a class="btn btn-primary btn-outline" id="edit_{{event.id}}" href="/edit/{{event.id}}" role="button">Edit</a>
              {% endif %}
              <a class="btn btn-success" href="/join/{{event.id}}" role="button">Join</a>
            </p>
            {% else %}
            <p>
              <a class="btn btn-danger" href="/leave/{{event.id}}" role="button">Leave</a>
              {% if session['uid'] == event.creator.id %}
                <a class="btn btn-primary btn-outline" id="edit_{{event.id}}" href="/edit/{{event.id}}" role="button">Edit</a>
                <a class="btn btn-danger" id="remove_{{event.id}}" href="#" role="button">Delete</a>
              {% endif %}
              <!-- bootbox code -->
                 <script>
                 $("#remove_{{event.id}}").click(function(e) {
                    bootbox.confirm("Are you sure?", function(result) {
                        if(result){
                          window.location.href = "/remove/{{event.id}}";
                        }
                    });
                });
                 </script>
            </p>
            {% endif %}
        </div>
      {% endif %}
      </div>
      <div class="col-md-4">
        <img src="http://lorempixel.com/g/250/250/" class="img-rounded" class="img-responsive" alt="Responsive image">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <p class="lead">{{event.description}}</p>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Comments</h3>
        </div>
        <div class="panel-body">
          {% for comment in event.comments %}
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-tltle">{{comment.title}} <small>by <a href="#">{{comment.creator.fullName()}}</a></small></h4>
            </div>
            <div class="panel-body">
              {{comment.msg}}
            </div>
          </div>
          {% else %}
          <p>
            Looks like no one has commented yet!
          </p>
          {% endfor %}
          {% if session.logged_in and session.attending %}
          <p>
            <h4>Add a new Comment!</h4>
          <!--  <form method="POST" action="/event/{{event.id}}"> -->
              <label for="title">Title:</label>
              <input id="title" name="title" type="text" class="form-control" placeholder="Title" aria-describedby="sizing-addon2">
              {% if form.title.errors %}
                  <ul class="errors">{% for error in form.title.errors %}<li>{{ error }}</li>{% endfor %}</ul>
              {% endif %}
            </br>
              <label for="msg">Comment:</label>
              <textarea id = "msg" name="msg" class="form-control" rows="8" placeholder="Comment"></textarea>
              {% if form.msg.errors %}
                  <ul class="errors">{% for error in form.msg.errors %}<li>{{ error }}</li>{% endfor %}</ul>
              {% endif %}
            </br>
              <button type="submit" class="btn btn-primary" id="subComment">Submit</button>
          <!--  </form> -->
          </p>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row">
        <google-map latitude="{{event.lat}}" longitude="{{event.lon}}" zoom="15" disableDefaultUi="true" clickEvents="false" fit-to-markers>
          <google-map-marker latitude={{event.lat}} longitude={{event.lon}} title={{event.name}} ></google-map-marker>
        </google-map>
      </div>
      <div class="row">
        <address>
          <strong>{{event.address}}</strong><br>
          {{event.street_address}}</br>
        </address>
      </div>
      <div class="row">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Currently Attending <span class="badge">{{event.attendees|length}}</span></h3>
          </div>
          <div class="panel-body">
            <ul class="list-group">
              {% for attendee in event.attendees %}
                <li class="list-group-item">
                <a href="#">{{attendee.fullName()}}</a>
                </li>
              {% else %}
                Looks like no one is going to this event yet!
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      {% if event.items|length > 1 %}
	  <div class="row">
       <div class="panel panel-default">
         <div class="panel-heading">
           <h3 class="panel-title">Item Registry</h3>
			</div>
				<!--<form method="POST" action="/event/{{event.id}}">-->
					<div class="list-group">
						{% for item in event.items %}
							{% if item.claimerUID == "" %}
							<button type="button" class="list-group-item reg" name ="{{loop.index}}" value="{{item.itemName}}" > 
								<b>{{item.itemName}}</b>
							</button>
							{% elif item.claimerUID == uid %}
							<button type="button" class="list-group-item disabled reg mine" name ="{{loop.index}}" value="">
								<b>{{item.itemName}}</b>
								<p><small>You</small></p>
							</button> 
							{% else %}
							<button class="list-group-item disabled reg" name ="{{loop.index}}"> 
								<b>{{item.itemName}}</b>
								<p><small>{{item.claimer.first_name}}</small></p>
							</button> 
							{% endif %}
						{% else %}
						Empty
					{% endfor %}	  
					</div>
				<!--</form>-->
				
			</div>
		</div>
    </div>
    {% endif %}
  </div>
</div>

<script>
	$( ".reg" ).on( "click", function(e) {
		console.log(e.target);
		if( !$( e.target ).hasClass( "disabled" )){
			$.post( window.location.href , {index:e.target.name, value:e.target.value },
				function(){
					window.location.replace(window.location.href);
			});
		}
		else if( $(e.target).hasClass( "mine" )){
			$.post( window.location.href , {index:e.target.name, value:"" },
				function(){
					window.location.replace(window.location.href);
			});			
		}	
	});
	
	$("#subComment").on("click", function(e) {
		console.log($('#msg')[0].value);
		$.post(window.location.href, {msg:$('#msg')[0].value, title:$('#title')[0].value},
			function(){
				window.location.replace(window.location.href);
			}
		);
		
	});
	
</script>
{% endblock %}
