{% extends "layout.html" %}

{% block title %}Event Page{% endblock %}


{% block links %}
<link rel="stylesheet" href="../static/event.css">
<link rel="import" href="/static/bower_components/google-map/google-map.html">
{% endblock %}

{% block body %}

<div class="container">
  <div class="jumbotron">
    <div class="row">
      <div class="col-md-4">
        <img src="http://lorempixel.com/g/250/250/" class="img-rounded" class="img-responsive" alt="Responsive image">
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-12">
            <h2>{{event.name}}</h2>
            <a class="btn btn-lg btn-success" href="#" role="button">Join <span class="badge">42</span></a>
          </div>
        </div>
      </br>
        <div class="col-md-6">
          <p>{{event.address}}</p>
        </div>
        <div class="col-md-6">
          <p>
            {{event.start_time}} - {{event.end_time}}
            {% if event.start_date == event.end_date %}
              <p>{{event.start_date}}</p>
            {% else %}
              <p>{{event.start_date}} - {{event.end_date}}</p>
            {% endif %}
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <p class="lead">{{event.description}}</p>
    </div>
    <div class="col-md-4">
      <google-map latitude="42.73" longitude="-73.68" zoom="15" disableDefaultUi="true"> </google-map>
      <address>
        <strong>{{event.address}}</strong><br>
        1355 Market Street, Suite 900<br>
        San Francisco, CA 94103<br>
        <abbr title="Phone">P:</abbr> (123) 456-7890
      </address>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Comments</h3>
        </div>
        <div class="panel-body">
          {% for comment in event.comments %}
          <div class="panel panel-default">
            <div class="panel-heading">
              Comment Title
            </div>
            <div class="panel-body">
              This is a comment
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="col-md-4">

    </div>
  </div>

</div>





{% endblock %}
