{% extends "layout.html" %}

{% block title %}EventsNear.me{% endblock %}	


{% block links %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='map.css') }}">
<link rel="import" href="/static/bower_components/google-map/google-map.html">
<link rel="import" href="/static/bower_components/polymer/polymer.html">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>

<script type="text/javascript" src="{{ url_for('static', filename='location.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='map.js') }}"></script>
{% endblock %}

{% block body %}
<style>
	google-map-marker{
			word-wrap: break-word;
			overflow: auto;
		}
</style>
<div id="temp" style="padding-bottom: 25px; padding-top: 25px">
	<div class="container">
	    <div class='col-md-3'>
	        <div class="form-group">
	            <div class='input-group date' id='startTimePicker'>
	                <input type='text' class="form-control" />
	                <span class="input-group-addon">
	                    <span class="glyphicon glyphicon-calendar"></span>
	                </span>
	            </div>
	        </div>
	    </div>
	    <div class='col-md-3'>
	        <div class="form-group">
	            <div class='input-group date' id='endTimePicker'>
	                <input type='text' class="form-control" />
	                <span class="input-group-addon">
	                    <span class="glyphicon glyphicon-calendar"></span>
	                </span>
	            </div>
	        </div>
	    </div>
	    <div class="col-md-3">
            <input id ="radius" name="title" type="text" class="form-control" placeholder="Radius (miles)" aria-describedby="sizing-addon2">
            </br>
          </div>
        <div class="col-md-3">
            <input id ="tags" name="title" type="text" class="form-control" placeholder="Study,Fun,Tags" aria-describedby="sizing-addon2">
            </br>
        </div>
	    <button id="tButton" class="btn btn-default">Filter</button>
	</div>
</div>
<google-map latitude="42.73" longitude="-73.68" zoom="15" disableDefaultUi="true">
	{% for event in events %}
	<google-map-marker latitude={{event.lat}} longitude={{event.lon}} title={{event.name}}>
		<h3><a href="/event/{{event.id}}">{{event.name}}</a></h3>
		<p>{{event.description}}</p>
		<p>{{event.start_date}} {{event.start_time}} -- {{event.end_date}} {{event.end_time}}</p>
		<p>{{event.address}}</p>
	</google-map-marker>
	{% endfor %}
</google-map>
<script>
$(function () {
    $('#startTimePicker').datetimepicker();
    $('#endTimePicker').datetimepicker({
        useCurrent: false //Important! See issue #1075
    });
    $("#startTimePicker").on("dp.change", function (e) {
        $('#endTimePicker').data("DateTimePicker").minDate(e.date);
    });
    $("#endTimePicker").on("dp.change", function (e) {
        $('#startTimePicker').data("DateTimePicker").maxDate(e.date);
    });
});
</script>
{% endblock %}
