{% extends "layout.html" %}

{% block title %}EventsNear.me{% endblock %}	


{% block links %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='map.css') }}">
<link rel="import" href="/static/bower_components/google-map/google-map.html">
<link rel="import" href="/static/bower_components/polymer/polymer.html">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<script type="text/javascript" src="{{ url_for('static', filename='location.js') }}"></script>
{% endblock %}

{% block body %}
<google-map latitude="42.73" longitude="-73.68" zoom="15" disableDefaultUi="true">
	{% for event in events %}
	
	{% endfor %}
	
	<google-map-marker latitude="42.73" longitude="-73.68" title="test"></google-map-marker>
	<google-map-marker latitude="42.73" longitude="-73.68" title="test2"></google-map-marker>
		
</google-map>
<script>
	
	function dist(x,y)
	{
		lat1 = x.latitude;
		lat2 = y.latitude;
		lon1 = x.longitude;
		lon2 = y.longitude;
		
		var p = 0.017453292519943295;    // Math.PI / 180
		var c = Math.cos;
		var a = 0.5 - c((lat2 - lat1) * p)/2 + 
          c(lat1 * p) * c(lat2 * p) * 
          (1 - c((lon2 - lon1) * p))/2;

		return 12742 * Math.asin(Math.sqrt(a)); // 2 * R; R = 6371 km
	}
	$( window ).load(function() {
		var mrks = $("google-map-marker");
		console.log(mrks.length);
		for(var i = 0; i < mrks.length; i++)
		{
			for(var j = i+1; j < mrks.length; j++)
			{
				var d = dist(mrks[i],mrks[j]);
				console.log(mrks[i].title + "->" + mrks[j].title);
				console.log(d);
				
				if( d < .0005)
				{
					mrks[j].latitude = Number(mrks[j].latitude) + .0005;
				}
								
			}
		}
	});
</script>

{% endblock %}
