<!-- user's events page view -->
{% extends "layout.html" %}

{% block title %}My Events Page{% endblock %}


{% block links %}
<link rel="stylesheet" href="../static/event.css">
<link rel="import" href="/static/bower_components/google-map/google-map.html">
<!-- Need these javascripts at the top b.c. of the bootbox inline javscript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
{% endblock %}

{% block body %}

<div class="container">
  <p></p>
  <div class="row">
    <div class="col-md-3">
      <div class="row">
        <img src="{{user.picture}}" class="img-rounded eventPageImg" class="img-responsive" alt="Responsive image">
      </div>
      <div class="row">
        <h2>
          {{user.fullName()}}
        </h2>
      </div>
      <div class="row">
        <p>
          {{user.email}}
        </p>
      </div>
      <div class="row">
        <p>
          <a class="btn btn-success" href="/public/{{user.id}}" role="button">Public Profile</a>
        </p>
      </div>
    </div>
    <div class="col-md-9">
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">You</a></li>
        <li><a data-toggle="tab" href="#attending">Attending</a></li>
        <li><a data-toggle="tab" href="#created">Created</a></li>
      </ul>
      <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
          <div class="page-header">
            <h3>Your Interests</h3>
          </div>
          <div class="row">
            <div class="col-md-4">
              <form method="POST" action="/profile/" id="addTag" class="form">
                <input id ="newTag" name="newTag" type="text" class="form-control" placeholder="New Interest" aria-describedby="sizing-addon2"/>
                <p></p>
                <button type="submit" class="btn btn-primary">Add</button>
              </form>
            </div>
            <div class="col-md-8 lead">
              {% for tag in user.tags %}
                <a href="/removeUserTag/{{loop.index0}}" class="btn btn-primary">
                  {{tag}}
                  <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                </a>
              {% else %}
                No tags found!
              {% endfor %}
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="page-header">
                <h3>Your Account Details</h3>
              </div>
              <form method="POST" action="/profile/" id="updateProfile" class="form-horizontal">
                <label for="fname">First &nbsp;</label>
                <input id ="fname" name="fname" type="text" class="form-control" placeholder="First Name" aria-describedby="sizing-addon2"/>
                {% if userform.fname.errors %}
                    <ul class="errors">{% for error in userform.fname.errors %}<li>{{ error }}</li>{% endfor %}</ul>
                {% endif %}

                <label for="lname">Last</label>
                <input id ="lname" name="lname" type="text" class="form-control" placeholder="Last Name" aria-describedby="sizing-addon2"/>
                {% if userform.lname.errors %}
                    <ul class="errors">{% for error in userform.lname.errors %}<li>{{ error }}</li>{% endfor %}</ul>
                {% endif %}

                <label for="email">Email</label>
                <input id ="email" name="email" type="text" class="form-control" placeholder="Email" aria-describedby="sizing-addon2"/>
                {% if userform.email.errors %}
                    <ul class="errors">{% for error in userform.email.errors %}<li>{{ error }}</li>{% endfor %}</ul>
                {% endif %}

                <label for="picture">Picture URL</label>
                <input id ="picture" name="picture" type="text" class="form-control" placeholder="Picture URL" aria-describedby="sizing-addon2"/>
                {% if userform.picture.errors %}
                    <ul class="errors">{% for error in userform.picture.errors %}<li>{{ error }}</li>{% endfor %}</ul>
                {% endif %}
                <p></p>

                <button type="submit" class="btn btn-primary">Update</button>
              </form>
            </div>
            <div class="col-md-6">
              <div class="page-header">
                <h3>Password Reset</h3>
              </div>
              <form method="POST" action="/resetPassword/" id="updatePassword" class="form-horizontal">
                <label for="password1">New Password</label>
                <input id ="password1" name="password1" type="password" class="form-control" placeholder="Password" aria-describedby="sizing-addon2"/>

                <label for="password1">Confirm Password</label>
                <input id ="password2" name="password2" type="password" class="form-control" placeholder="Confirm Password" aria-describedby="sizing-addon2"/>
                <p></p>
                <button type="submit" class="btn btn-primary">Update</button>
              </form>
            </div>
          </div>
        </div>
        <div id="attending" class="tab-pane fade">
          <div class="page-header">
            <h3>Events Your Are Attending</h3>
          </div>
          {% for event in attending%}
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">
                  <a href="/event/{{event.id}}">
                    {{event.name}}
                  </a>
                  <small>{{event.address}}</small>
                  <small>
                    {% if event.start_date == event.end_date %}
                      {{event.start.strftime("%m/%d/%y")}}: {{event.start.strftime("%I:%M%p")}} - {{event.end.strftime("%I:%M%p")}}
                    {% else %}
                      {{event.start.strftime("%m/%d/%y")}}: {{event.start.strftime("%I:%M%p")}} - {{event.end.strftime("%m/%d/%y")}}: {{event.end.strftime("%I:%M%p")}}
                    {% endif %}
                  </small>
                </h3>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-4">
                    <img src="{{event.getPicture()}}" class="center-block img-circle img-responsive listEventImg" alt="Responsive image">
                  </div>
                  <div class="col-md-8">
                    <div class="row">
                      <div class="col-md-12">
                        {% for tag in event.tags %}
                          <span class="label label-primary">{{tag}}</span>
                        {% endfor %}
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        {{event.description|markdown}}
                        <p>
                          <a class="btn btn-danger" href="/leave/{{event.id}}" role="button">Leave</a>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% else %}
            <p>
              Looks like you aren't attending any events yet!
            </p>
            <a href="/events" class="btn btn-primary">Find Events</a>
          {% endfor %}
        </div>
        <div id="created" class="tab-pane fade">
          <div class="page-header">
            <h3>Events You Created</h3>
          </div>
          {% for event in created%}
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">
                  <a href="/event/{{event.id}}">
                    {{event.name}}
                  </a>
                  <small>{{event.address}}</small>
                  <small>
                    {% if event.start_date == event.end_date %}
                      {{event.start.strftime("%m/%d/%y")}}: {{event.start.strftime("%I:%M%p")}} - {{event.end.strftime("%I:%M%p")}}
                    {% else %}
                      {{event.start.strftime("%m/%d/%y")}}: {{event.start.strftime("%I:%M%p")}} - {{event.end.strftime("%m/%d/%y")}}: {{event.end.strftime("%I:%M%p")}}
                    {% endif %}
                  </small>
                </h3>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-4">
                    <img src="{{event.getPicture()}}" class="center-block img-circle img-responsive listEventImg" alt="Responsive image">
                  </div>
                  <div class="col-md-8">
                    <div class="row">
                      <div class="col-md-12">
                        {% for tag in event.tags %}
                          <span class="label label-primary">{{tag}}</span>
                        {% endfor %}
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        {{event.description|markdown}}
                        <p>
                          <a class="btn btn-primary btn-outline" href="/edit/{{event.id}}" role="button">Edit</a>
                          <a class="btn btn-danger" id="remove_{{event.id}}" href="#" role="button">Delete</a>
                        </p>
                         <!-- bootbox code -->
                         <script>
                           $("#remove_{{event.id}}").click(function(e) {
                              bootbox.confirm("Are you sure?", function(result) {
                              if(result) {
                                window.location.href = "/remove/event/{{event.id}}";
                              }
                              });
                            });
                         </script>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% else %}
            <p>
              Looks like you haven't created any events yet!
            </p>
            <a href="/create" class="btn btn-success">New Event</a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  console.log("test");
  {% for field in userform.data%}
      {% if userform.data[field] %}
        $("#{{field}}").val("{{userform.data[field]|safe}}");
        console.log("hi {{field}} {{userform.data[field]}}");
        {% if field == 'master' and userform.data[field] != "None"%}
          console.log("master");
          console.log($('#master').val());
          $('#{{userform.data[field]}}').prop('checked', true);
        {% endif %}
      {% endif %}
  {% endfor %}
</script>

{% endblock %}
{% block postlinks %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
{% endblock %}
